<div id="img">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="assets/img/Bourses-étudiants.png" alt="Nous littons pour une meilleure education du Mali" width= 1975 height= 400>
          </div>
          <div class="item">
            <img src="assets/img/student.jpg" alt="Ensemble pour le Mali de demain " width= 1975 height= 400>
          </div>

          <div class="item">
            <img src="assets/img/etudiants-masques-amphitheatre.jpg" alt="Education Malienne" width= 1975 height= 400>
          </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>

     <br>
     <div>
        <div class="row">
            <div class="col-lg-6 offset-1">
                <p style="float:right"><img src="assets/img/munister1.jpg" width=720  height=310/>
                </p>
            </div>
            <div class="col-lg-4">
                 <h2> <p>In spite of the positive trend in schooling coverage, only 54% of children completed primary
                    education in 2008 for an average of 61% in sub-Saharan Africa. The poor completion rate
                    can be explained by the fact that, in Mali, 21% of school-age children have never enrolled in
                    primary school and that early drop-out is very high (estimated at 23% in primary education).
                    In addition, only 45% of children access grade 7 and 34% to grade 10. The access rate to
                    upper general secondary education is 16% and the access rate to the final year of general
                    secondary education 8%.</p></h2>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-lg-8 offset-1">
                <p style="float:right"><img src="assets/img/munister2.jpg" width=720  height=310/></p>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-1">
                <h2><p>In spite of the positive trend in schooling coverage, only 54% of children completed primary
                    education in 2008 for an average of 61% in sub-Saharan Africa. The poor completion rate
                    can be explained by the fact that, in Mali, 21% of school-age children have never enrolled in
                    primary school and that early drop-out is very high (estimated at 23% in primary education).
                    In addition, only 45% of children access grade 7 and 34% to grade 10. The access rate to
                    upper general secondary education is 16% and the access rate to the final year of general
                    secondary education 8%. </p></h2>
            </div>
            <div class="col">
                    <p style="float:right"><img src="assets/img/shool4.jpg" width=500  height=310/></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-1">
                <h2><p>In spite of the positive trend in schooling coverage, only 54% of children completed primary
                    education in 2008 for an average of 61% in sub-Saharan Africa. The poor completion rate
                    can be explained by the fact that, in Mali, 21% of school-age children have never enrolled in
                    primary school and that early drop-out is very high (estimated at 23% in primary education).
                    In addition, only 45% of children access grade 7 and 34% to grade 10. The access rate to
                    upper general secondary education is 16% and the access rate to the final year of general
                    secondary education 8%. </p></h2>
            </div>
            <div class="col">

                    <p style="float:right"><img src="assets/img/shool2.jpg" width=500  height=310/></p>
            </div>
        </div>
     </div>
<br>
</div>
